.text{
  background-image: url(./image/header.svg);
  width: 1599px;
  height: 500px;
}

h1 span{
  padding-top:255px;
  width: 789.51px;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  margin-left: 200px;
  margin-top: 32px;
  font-family: "Cormorant";
  font-weight: 400;
  line-height: 60px;
}

p span{
  width: 557.65px;
  height: 58px;
  font-size: 24px;
  color:#FFFFFF;
  margin-top: 20px;
  margin-left: 200px;
  display: flex; 
  flex-direction: row;
  line-height: 29.06px;
}
@media (max-width: 1000px){
  .text{
    width: 1000px;
    height: 500px;
  } 
  h1 span{
    padding-top:255px;
    width: 789.51px;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    margin-left: 18.87px;
    margin-top: 0px;
    font-family: "Cormorant";
    font-weight: 400;
    line-height: 60px;
  }
  
  p span{
    width: 557.65px;
    height: 58px;
    font-size: 24px;
    color:#FFFFFF;
    margin-top: 20px;
    margin-left: 18.87px;
    display: flex; 
    flex-direction: row;
    line-height: 29.06px;
  }
}
@media (max-width: 768px){
  .text{
    width: 768px;
    height: 500px;
  } 
  h1 span{
    padding-top:255px;
    width: 684px;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    margin-left: 18.87px;
    margin-top: 0px;
    font-family: "Cormorant";
    font-weight: 400;
    line-height: 60px;
  }
  
  p span{
    width: 557.65px;
    height: 58px;
    font-size: 24px;
    color:#FFFFFF;
    margin-top: 20px;
    margin-left: 18.87px;
    display: flex; 
    flex-direction: row;
    line-height: 29.06px;
  }

}
@media (max-width: 480px){
  .text{
    width: 480px;
    height: 500px;
  } 
  h1 span{
    padding-top:275px;
    width: 450px;
    font-size: 96px;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    margin-left: 9px;
    margin-top: 0px;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.44px;
    text-align: left;
    
  }
  
  p span{
    width: 450px;
    height: 58px;
    color:#FFFFFF;
    margin-top: 20px;
    margin-left: 9px;
    display: flex; 
    flex-direction: row;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.06px;
    text-align: left;
  }

}
@media (max-width: 360px){
  .text{
    background-image: url(./image/header.svg);
    width: 360px;
    height: 367px;
  }
  h1 span {
    padding-top: 233px;
    width: 340px;
    height: 58px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.06px;
    text-align: left;     
    margin: 0px 0 0 10px;
    justify-content: left;
    flex-wrap: wrap;
}
  p span{
    width: 332px;
    height: 36px;
    font-size: 16px;
    font-weight: 300;
    line-height: 17.7px;
    text-align: left; 
    margin-left: 10px; 
    margin-top: 70px;
  } 
}
  